<%- include('../partials/html-head') %>
<!-- <link rel='stylesheet' href='/stylesheets/songs/index.css'> -->
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <h2>Choose a genre to view all the songs</h2>
  <ul>
      <li>
        <h3>Hip-Hop/Rap</h3>
        <a href="/genres/show/?genre=hip-hop-rap">
        <button>View Songs</button>
        </a>
        </a>
      </li>
      <li>
        <h3>R&B</h3>
        <a href="/genres/?genre=r-and-b">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Rock</h3>
        <a href="/genres/?genre=rock">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Pop</h3>
        <a href="/genres/?genre=pop">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Country</h3>
        <a href="/genres/?genre=country">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Jazz</h3>
        <a href="/genres/?genre=jazz">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Heavy Metal</h3>
        <a href="/genres/?genre=heavy-metal">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Classical</h3>
        <a href="/genres/?genre=classical">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Indie</h3>
        <a href="/genres/show/?genre=Indie">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Reggaeton</h3>
        <a href="/genres/?genre=reggaeton">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Electronic</h3>
        <a href="/genres/?genre=electronic">
        <button>View Songs</button>
        </a>
      </li>
  </ul>
<%- include('../partials/footer') %>