<%- include('../partials/html-head') %>
<!-- <link rel='stylesheet' href='/stylesheets/songs/index.css'> -->
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <h2>Choose a genre to view all the songs</h2>
  <ul>
      <li>
        <h3>Hip-Hop/Rap</h3>
        <a href="/genres/show/?genre=Hip-Hop">
        <button>View Songs</button>
        </a>
        </a>
      </li>
      <li>
        <h3>R&B</h3>
        <a href="/genres/show/?genre=Rhythm-and-Blues">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Rock</h3>
        <a href="/genres/show/?genre=Rock">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Pop</h3>
        <a href="/genres/show/?genre=Pop">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Country</h3>
        <a href="/genres/show/?genre=Country">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Jazz</h3>
        <a href="/genres/show/?genre=Jazz">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Heavy Metal</h3>
        <a href="/genres/show/?genre=Heavy-Metal">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Classical</h3>
        <a href="/genres/show/?genre=Classical">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Indie</h3>
        <a href="/genres/show/?genre=Indie">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Reggaeton</h3>
        <a href="/genres/show/?genre=Reggaeton">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Electronic</h3>
        <a href="/genres/show/?genre=Electronic">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Latin</h3>
        <a href="/genres/show/?genre=Latin">
        <button>View Songs</button>
        </a>
      </li>
  </ul>
<%- include('../partials/footer') %>