<%- include('../partials/html-head') %>
<!-- <link rel='stylesheet' href='/stylesheets/songs/index.css'> -->
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <h2>Choose a genre to view all the songs</h2>
  <ul>
      <li>
        <h3>Hip-Hop/Rap</h3>
        <a href="/genres/?hip-hop-rap">
        <button>View Songs</button>
        </a>
        </a>
      </li>
      <li>
        <h3>R&B</h3>
        <a href="/genres/?r-and-b">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Rock</h3>
        <a href="/genres/?rock">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Pop</h3>
        <a href="/genres/?pop">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Country</h3>
        <a href="/genres/?country">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Jazz</h3>
        <a href="/genres/?jazz">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Heavy Metal</h3>
        <a href="/genres/?heavy-metal">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Classical</h3>
        <a href="/genres/?classical">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Indie</h3>
        <a href="/genres/?indie">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Reggaeton</h3>
        <a href="/genres/?reggaeton">
        <button>View Songs</button>
        </a>
      </li>
      <li>
        <h3>Electronic</h3>
        <a href="/genres/?electronic">
        <button>View Songs</button>
        </a>
      </li>
  </ul>
<%- include('../partials/footer') %>