body {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

h3 {
  color: gold;
}

img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

div {
  margin-top: 16px;
}

#edit-user-btn {
  color: white;
  background: red;
  margin-top: 12px;
  border-radius: 6px;
  font-size: 18px;
  height: 36px;
  font-family: 'Amatic SC', cursive;
}

#edit-user-btn:hover {
  cursor: pointer;
  background: blueviolet;
  color: yellow;
}