h1 {
  margin-top: 60px;
  font-family: 'Fredoka One', cursive;
}

section {
  margin-top:42px;
  font-family: 'Rowdies', cursive; 
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 36px;
}

section div {
  margin-top: 32px;
  color: violet;
  font-weight: bold;
  text-decoration: dotted;
}