html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* Font Families */
/* font-family: 'Almarai', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Rowdies', cursive; */

body {
  background: rgb(2,0,36);
  background: linear-gradient(171deg, rgba(2,0,36,1) 15%, rgba(144,20,159,1) 56%, rgba(0,212,255,1) 100%);
  color: white;
  margin: 0;
  min-height: 100vh;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
  font-size: 24px;
  font-family: 'Amatic SC', cursive;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: red;
  font-size: 32px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

footer {
  position: absolute;
  font-family: 'Fredoka One', cursive;
  bottom: 0;
}

#logout {
  font-size: 24px;
  background-color: black;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#logout:hover {
  color: blueviolet;
  font-size: 32px;
}