body {
  font-family: 'Amatic SC', cursive;
}

.songs-in-list{
font-size: 18px;
color: white;
margin-top: 6px;
}

.details-btn {
  color: black;
  background: turquoise;
  border-radius: 12px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  cursor: pointer;
}

.details-btn:hover {
  background: red;
  color: yellow;
  font-size: 24px;
}

#song-list {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  width: 100%;
  height: 328px;
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: none;
}

#song-list ul {
  list-style-type: none;
}

#add-song-btn {
  color: white;
  background: red;
  border-radius: 6px;
  font-size: 18px;
  height: 36px;
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: center;
}


#add-song-btn:hover {
  cursor: pointer;
  background: blueviolet;
  color: yellow;
}