body {
  font-family: 'Rowdies', cursive; 
}

h1 {
  margin-top: 28px;
  display: flex;
  text-align: center;
  justify-content: center;
}

table {
  width: 500px;
  margin-top: 24px;
}

td {
  text-align: center;
}

section {
  font-size: 18px;
}

#song-owner-name {
  font-family: 'Fredoka One', cursive;
  color: blueviolet;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  width: 500px;
}

.song-properties {
  font-family: 'Almarai', sans-serif;
  height: 40px;
  padding-top: 16px;
}


.form-content {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-properties-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-review-btn {
  color: yellow;
  background: blueviolet;
  margin-top: 12px;
  border-radius: 6px;
  font-size: 18px;
  height: 36px;
  font-family: 'Amatic SC', cursive;
}

#add-review-btn:hover{
  color: white;
  background: red;
}

#edit-song-btn {
  color: white;
  background: red;
  margin-top: 12px;
  border-radius: 6px;
  font-size: 18px;
  height: 36px;
  font-family: 'Amatic SC', cursive;
}

#edit-song-btn:hover {
  cursor: pointer;
  background: blueviolet;
  color: yellow;
}

#delete-review-btn {
  color: black;
  background: red;
  border-radius: 6px;
  font-size: 12px;
  height: 24px;
  margin-bottom: 8px;
  font-family: 'Amatic SC', cursive;
}

#delete-review-btn:hover {
  color: greenyellow;
  background: black;
}


#reviews-form {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

#textarea-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-textarea {
  resize: none;
}


#reviews-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}